/* .anim-gs {
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}
.anim-gs:hover {
    filter: none;
    box-shadow: 0pt 1.5pt 6pt gray;
}
.s_company_team div {
    margin: auto;
} */
.img-fixed-200 {
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
}
.tech-img {
    position: relative;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.tech_details {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    opacity: 0;
    background-color: var(--primary);
    transition: all 0.3s ease-in-out;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tech_details:hover {
    opacity: 1.0;
}
.ytembed {
    margin: 8pt 24pt;
}